(
    visuals: [
        (
            specular_strength: 0.3,
            specular_power: 32.0,
            fresnel_strength: 0.2,
            membrane_noise_scale: 0.0,
            membrane_noise_strength: 0.0,
            membrane_noise_speed: 0.0,
            tail_length: 1.7,
            tail_thickness: 0.15,
            tail_amplitude: 0.17,
            tail_frequency: 1.0,
            tail_taper: 1.0,
            tail_segments: 10.0,
        ),
        (
            specular_strength: 0.3,
            specular_power: 32.0,
            fresnel_strength: 0.2,
            membrane_noise_scale: 0.0,
            membrane_noise_strength: 0.0,
            membrane_noise_speed: 0.0,
            tail_length: 2.02,
            tail_thickness: 0.226,
            tail_amplitude: 0.17,
            tail_frequency: 1.0,
            tail_taper: 1.0,
            tail_segments: 10.0,
        ),
    ],
)