(
    surfaces: [
        Main((
            nodes: [
                Horizontal((
                    rect: (
                        min: (
                            x: 45.0,
                            y: 43.0,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 708.28125,
                        ),
                    ),
                    fraction: 0.8501132,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Horizontal((
                    rect: (
                        min: (
                            x: 45.0,
                            y: 43.0,
                        ),
                        max: (
                            x: 1671.4286,
                            y: 708.28125,
                        ),
                    ),
                    fraction: 0.16439992,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 1676.5714,
                            y: 43.0,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 708.28125,
                        ),
                    ),
                    fraction: 0.1590057,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 45.0,
                            y: 43.0,
                        ),
                        max: (
                            x: 309.7143,
                            y: 708.28125,
                        ),
                    ),
                    fraction: 0.38962814,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 314.2857,
                            y: 43.0,
                        ),
                        max: (
                            x: 1671.4286,
                            y: 708.28125,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 314.28125,
                            y: 43.0,
                        ),
                        max: (
                            x: 1671.4375,
                            y: 708.28125,
                        ),
                    ),
                    tabs: [
                        Viewport,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1676.5714,
                            y: 43.0,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 146.28572,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1676.5625,
                            y: 43.0,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 146.28125,
                        ),
                    ),
                    tabs: [
                        RightPanel,
                        SceneManager,
                    ],
                    active: (1),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1676.5714,
                            y: 151.42857,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 708.28125,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1676.5625,
                            y: 177.4375,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 708.28125,
                        ),
                    ),
                    tabs: [
                        PerformanceMonitor,
                        CellInspector,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 45.0,
                            y: 43.0,
                        ),
                        max: (
                            x: 309.7143,
                            y: 300.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 45.0,
                            y: 76.5,
                        ),
                        max: (
                            x: 309.71875,
                            y: 300.0,
                        ),
                    ),
                    tabs: [
                        WorldSettings,
                        LightSettings,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 45.0,
                            y: 304.57144,
                        ),
                        max: (
                            x: 309.7143,
                            y: 708.28125,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 45.0,
                            y: 330.5625,
                        ),
                        max: (
                            x: 309.71875,
                            y: 708.28125,
                        ),
                    ),
                    tabs: [
                        CaveSystem,
                        FluidSettings,
                    ],
                    active: (1),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
            ],
            focused_node: Some((7)),
            collapsed: false,
            collapsed_leaf_count: 0,
        )),
        Empty,
    ],
    focused_surface: Some((0)),
    translations: (
        tab_context_menu: (
            close_button: "Close",
            eject_button: "Eject",
        ),
        leaf: (
            close_button_disabled_tooltip: "This leaf contains non-closable tabs.",
            close_all_button: "Close window",
            close_all_button_menu_hint: "Right click to close this window.",
            close_all_button_modifier_hint: "Press modifier keys (Shift by default) to close this window.",
            close_all_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to close this window.",
            close_all_button_disabled_tooltip: "This window contains non-closable tabs.",
            minimize_button: "Minimize window",
            minimize_button_menu_hint: "Right click to minimize this window.",
            minimize_button_modifier_hint: "Press modifier keys (Shift by default) to minimize this window.",
            minimize_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to minimize this window.",
        ),
    ),
)