(
    surfaces: [
        Main((
            nodes: [
                Horizontal((
                    rect: (
                        min: (
                            x: 45.0,
                            y: 43.0,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 708.28125,
                        ),
                    ),
                    fraction: 0.18542074,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 45.0,
                            y: 43.0,
                        ),
                        max: (
                            x: 397.7143,
                            y: 708.28125,
                        ),
                    ),
                    fraction: 0.5018504,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Horizontal((
                    rect: (
                        min: (
                            x: 402.2857,
                            y: 43.0,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 708.28125,
                        ),
                    ),
                    fraction: 0.8339866,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Horizontal((
                    rect: (
                        min: (
                            x: 45.0,
                            y: 43.0,
                        ),
                        max: (
                            x: 397.7143,
                            y: 374.2857,
                        ),
                    ),
                    fraction: 0.5,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 45.0,
                            y: 379.42856,
                        ),
                        max: (
                            x: 397.7143,
                            y: 708.28125,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 45.0,
                            y: 405.4375,
                        ),
                        max: (
                            x: 397.71875,
                            y: 708.28125,
                        ),
                    ),
                    tabs: [
                        ParentSettings,
                        AdhesionSettings,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 402.2857,
                            y: 43.0,
                        ),
                        max: (
                            x: 1700.0,
                            y: 708.28125,
                        ),
                    ),
                    fraction: 0.88709605,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 1704.5714,
                            y: 43.0,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 708.28125,
                        ),
                    ),
                    fraction: 0.19118077,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 45.0,
                            y: 43.0,
                        ),
                        max: (
                            x: 218.85715,
                            y: 374.2857,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 45.0,
                            y: 43.0,
                        ),
                        max: (
                            x: 218.84375,
                            y: 374.28125,
                        ),
                    ),
                    tabs: [
                        Modes,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 223.42857,
                            y: 43.0,
                        ),
                        max: (
                            x: 397.7143,
                            y: 374.2857,
                        ),
                    ),
                    fraction: 0.38683006,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                    absolute_size_left: None,
                )),
                Empty,
                Empty,
                Leaf((
                    rect: (
                        min: (
                            x: 402.2857,
                            y: 43.0,
                        ),
                        max: (
                            x: 1700.0,
                            y: 630.8571,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 402.28125,
                            y: 43.0,
                        ),
                        max: (
                            x: 1700.0,
                            y: 630.84375,
                        ),
                    ),
                    tabs: [
                        Viewport,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 402.2857,
                            y: 636.0,
                        ),
                        max: (
                            x: 1700.0,
                            y: 708.28125,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 402.28125,
                            y: 636.0,
                        ),
                        max: (
                            x: 1700.0,
                            y: 708.28125,
                        ),
                    ),
                    tabs: [
                        BottomPanel,
                        TimeSlider,
                    ],
                    active: (1),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1704.5714,
                            y: 43.0,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 167.42857,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1704.5625,
                            y: 69.0,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 167.4375,
                        ),
                    ),
                    tabs: [
                        RightPanel,
                        GizmoSettings,
                    ],
                    active: (1),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1704.5714,
                            y: 172.57143,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 708.28125,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1704.5625,
                            y: 198.5625,
                        ),
                        max: (
                            x: 1960.7188,
                            y: 708.28125,
                        ),
                    ),
                    tabs: [
                        CellTypeVisuals,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Empty,
                Empty,
                Leaf((
                    rect: (
                        min: (
                            x: 223.42857,
                            y: 43.0,
                        ),
                        max: (
                            x: 397.7143,
                            y: 168.57143,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 223.4375,
                            y: 43.0,
                        ),
                        max: (
                            x: 397.71875,
                            y: 168.5625,
                        ),
                    ),
                    tabs: [
                        CircleSliders,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 223.42857,
                            y: 173.71428,
                        ),
                        max: (
                            x: 397.7143,
                            y: 374.2857,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 223.4375,
                            y: 173.71875,
                        ),
                        max: (
                            x: 397.71875,
                            y: 374.28125,
                        ),
                    ),
                    tabs: [
                        LeftPanel,
                        QuaternionBall,
                    ],
                    active: (1),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
            ],
            focused_node: Some((7)),
            collapsed: false,
            collapsed_leaf_count: 0,
        )),
    ],
    focused_surface: Some((0)),
    translations: (
        tab_context_menu: (
            close_button: "Close",
            eject_button: "Eject",
        ),
        leaf: (
            close_button_disabled_tooltip: "This leaf contains non-closable tabs.",
            close_all_button: "Close window",
            close_all_button_menu_hint: "Right click to close this window.",
            close_all_button_modifier_hint: "Press modifier keys (Shift by default) to close this window.",
            close_all_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to close this window.",
            close_all_button_disabled_tooltip: "This window contains non-closable tabs.",
            minimize_button: "Minimize window",
            minimize_button_menu_hint: "Right click to minimize this window.",
            minimize_button_modifier_hint: "Press modifier keys (Shift by default) to minimize this window.",
            minimize_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to minimize this window.",
        ),
    ),
)