(
    iso_level: 0.05,
    ambient: 0.15,
    diffuse: 0.18,
    specular: 0.0,
    shininess: 3.0,
    fresnel: 1.2,
    fresnel_power: 6.3,
    reflection: 1.0,
    alpha: 0.13,
    rim: 0.7,
    wave_height: 3.0,
    wave_speed: 2.0,
    noise_scale: 0.06,
    noise_octaves: 1.0,
    noise_lacunarity: 2.6,
    noise_persistence: 1.0,
)