(
    gravity: 9.8,
    gravity_x: false,
    gravity_y: true,
    gravity_z: false,
    vorticity_epsilon: 0.05,
    pressure_iterations: 10,
    lateral_flow_probabilities: (1.0, 0.5, 0.6, 0.9),
    continuous_spawn: false,
    selected_fluid_type: 3,
)